body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #e5e2e2;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(236, 229, 229);
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.container {
  background: linear-gradient(rgb(83, 4, 230), rgb(32, 252, 222));
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.source{
  text-align: center;
}
.weather-app {
  padding: 20px;
  border: thick double #e1dbda;
  border-radius: 30px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  height: 85px;
  width: 85px;
  display: inline-block;

}
.weather-temperature strong {
  color: rgb(247, 244, 244);
  font-size: 50px;
  line-height: 0.5;
  font-weight: 400;
  display: inline-block;
  vertical-align: text-top;
}
.units{
  font-size: 20px;
  padding-left: 6px;
  margin-top: 6px; 
  color: rgb(247, 244, 244);

}

.weather-temperature.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature.active:hover {
  text-decoration: none;
}
.today-forcast {
  color: orange;
  font-weight: bold;
  font-size: 20px;
}
.temp {
  font-size: 18px;
}
.btn-primary{
  background-color: rgb(224, 92, 236);
}




/*Week 8 Video 3 */

.weather-forcast {
  margin-top: 20px;
  text-align: center;
  color: rgb(253, 252, 252);
}

.weather-forecast-date {
  font-size: 20px;
  text-align: match-parent;
  opacity: 0.5;
  color: rgb(255, 255, 255);
}

.weather-forecast-temperature-min{
opacity:0.5;
}

.weather-forcast-temperatures {
font-size:13px;

}
.weather-forcast.row{
  text-align: center;
}

/*h3 {
  color: rgb(255, 142, 101);
  font-weight: bold;
}
.col {
  font-weight: bold;
  font-size: 18px;
  color: rgb(97, 95, 95);
}
label,
input {
  font-weight: bold;
  font-size: 18px;
}
.emoji {
  font-size: 45px;
}
.Current {
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 10px;
  background-color: #af20c2;
  color: #ffffff;
}
input[type="Submit"] {
  color: #ffffff;
  background-color: #0d6efd;
}
